.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #35424a;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #35424a;
}

.button {
  background-color: #e8491d;
  color: #ffffff;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}